<% include ../partials/header %>

<div class="ui text container segment">
  <div class="ui attached segment">
    <h1 class="ui center aligned header">Edit <%= thing.name %></h1>
    <form action="/mythings/<%= thing.id %>?_method=PUT" method="post" class="ui big form">
      <div class="two fields">
        <div class="field">
          <label for="name">Name:</label>
          <input type="text" name="thing[name]" value="<%= thing.name %>" required>
        </div>
        <div class="field">
          <label for="purchaseDate">Purchase Date:</label>
          <input type="text" name="thing[purchaseDate]" class="date-picker" value="<%= moment(thing.purchaseDate).format("dddd, D MMMM YYYY") %>" required>
        </div>
      </div>
      <div class="field">
        <label for="purchasePrice">Purchase Price:</label>
        <input type="number" name="thing[purchasePrice]" value="<%= thing.purchasePrice %>" step="0.01" min="0" id="newPurchasePrice" required>
      </div>
      <div class="two fields">
        <div class="field">
          <input type="number" name="thing[currentValue]" value="<%= thing.currentValue %>" step="0.01" min="0" id="resultCostPerUse" hidden>
        </div>
        <div class="field">
          <input type="number" name="thing[useCount]" value="<%= thing.useCount %>" step="0.01" min="0" id="useCount" hidden>
        </div>
      </div>
      <div class="ui hidden section divider"></div>
      <button class="ui big primary button" type="submit">Submit</button>
      <a class="ui big negative button" href="/mythings/<%= thing.id %>">Cancel</a>
    </form>
    <div class="ui hidden divider"></div>
    <button class="ui compact button" id="deleteThingButton">Permanently Delete <%= thing.name %></button>
    <!-- MODAL -->
    <div class="ui tiny modal">
      <i class="close icon"></i>
      <div class="header">Delete <%= thing.name %></div>
      <div class="content">
        <form action="/mythings/<%= thing.id %>?_method=DELETE" method="post" class="ui big form">
          <p>Are you sure you want to <strong>permanently</strong> delete <%= thing.name %>? All usage dates will be deleted. This cannot be undone. Click <strong>I'm Sure</strong> to confirm.</p>
      </div>
        <div class="actions">
          <button class="ui positive approve button" type="submit">I'm Sure</button>
          <div class="ui negative cancel button">Cancel</div>
        </div>
      </form>
    </div>
  </div>
</div>

<% include ../partials/footer %>
