<% include ../partials/header %>

  <h1>Edit <%= thing.name %></h1>

  <form action="/mythings/<%= thing.id %>?_method=PUT" method="post">
    <!-- <label for="name">Name:</label>
    <input type="text" name="thing[name]" value="<%= thing.name %>" required> -->

    <label for="purchaseDate">Purchase Date:</label>
    <input type="date" name="thing[purchaseDate]" value:"<%= thing.purchaseDate %>" required>

    <label for="purchasePrice">Purchase Price:</label>
    <input type="number" name="thing[purchasePrice]" value="<%= thing.purchasePrice %>" step="0.01" min="0" required>

    <input type="submit">
  </form>

<% include ../partials/footer %>
