<% include ../partials/header %>
  <% var currencySymbol = "$" %>
  <div class="ui text container segment">
  <h1><%= thing.name %></h1>
  <h2>Purchased on: <%= moment(thing.purchaseDate).format("dddd, D MMMM YYYY") %></h2>
  <h2>Purchase Price: <%= currencySymbol %><%= thing.purchasePrice %></h2>
  <h2>Current Value: <%= currencySymbol %><%= parseFloat(thing.currentValue).toFixed(2) %></h2>
  <h3>Usage Dates</h3>
  <div class="ui container">
    <div class="ui middle aligned divided list">
      <% thing.usageDates.forEach(function(date) { %>
      <div class="item">
        <!-- <div class="right floated content">
          <div class="ui button">Delete</div>
        </div> -->
        <img class="ui avatar image" src="/images/avatar2/small/lena.png">
        <div class="content">
          <%= moment(date).format("dddd, D MMMM YYYY") %>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
  <p><a href="/mythings/<%= thing.id %>/edit">EDIT</a></p>
  <p><a href="/mythings/<%= thing.id %>/use">USE</a></p>
</div>

<% include ../partials/footer %>
