<% include ../partials/header %>
  <% if (!thing.purchaseCurrency && !user.defaultCurrency) { %>
    <% var userCurrency = "USD"; %>
  <% } else { %>
    <% var userCurrency = thing.purchaseCurrency || user.defaultCurrency %>
  <% } %>
  <div class="ui text container segment">
    <div class="ui card">
      <div class="content">
        <div class="center aligned header">
          <%= thing.name %>
        </div>
        <div class="center aligned meta">
          Paid <%= parseFloat(thing.purchasePrice).toLocaleString(undefined, {maximumFractionDigits:2, style: "currency", currency: userCurrency, currencyDisplay: "symbol"}) %> on <%= moment(thing.purchaseDate).format("D MMMM YYYY") %>
        </div>
        <div class="center aligned meta">
          <a href="/mythings/<%= thing.id %>/edit">EDIT <i class="edit icon"></i></a>
        </div>
        <div class="center aligned description">
          Current cost per use: <%= parseFloat(thing.currentValue).toLocaleString(undefined, {maximumFractionDigits:2, style: "currency", currency: userCurrency, currencyDisplay: "symbol"}) %>
        </div>
      </div>
      <div class="extra content">
        <div class="description">
        <h3>Usage Dates</h3>
        <div class="ui container">
          <div class="ui middle aligned divided list">
            <% if (thing.useCount == 0) { %>
            <div class="item">
              <div class="content">
                Not used yet.
              </div>
            </div>
            <% } %>
            <div class="item">
              <div class="content">
                <a href="/mythings/<%= thing.id %>/use"><i class="large plus link icon"></i> Add New</a>
              </div>
            </div>
            <% thing.usageDates.forEach(function(date, index) { %>
            <div class="item">
              <div class="content li">
                <i class="large trash outline icon" id="<%= index %>"></i>
                <span><%= moment(date).format("dddd, D MMMM YYYY") %></span>
              </div>
            </div>
            <% }); %>
          </div>
        </div>
        </div>
      </div>
    </div>
    <!-- MODAL -->
    <div class="ui tiny modal">
      <i class="close icon"></i>
      <div class="header">Delete <span id="thisDate"></span>?</div>
      <div class="content">
        <form action="/mythings/<%= thing.id %>/delete-use?_method=PUT" method="post" class="ui big form">
          <p>This cannot be undone! Click <strong>I'm Sure</strong> to confirm.</p>
          <input type="text" id="usageDatesIndex" name="usageDatesIndex" hidden>
      </div>
        <div class="actions">
          <button class="ui positive approve button" type="submit">I'm Sure</button>
          <div class="ui negative cancel button">Cancel</div>
        </div>
      </form>
    </div>
  </div>

<% include ../partials/footer %>
