<% include partials/header %>

<div class="ui raised segment">
  <div class="ui equal width four column stackable doubling centered grid">
    <div class="four column row">
      <h1 class="ui center aligned enormous header">My Things</h1>
    </div>
    <div class="four column row">
      <a href="/mythings/new" class="ui large primary button"><i class="plus icon"></i>Add New</a>
    </div>
    <% user.things.forEach(function(thing) { %>
      <% var userCurrency = "USD" %>
      <div class="column">
        <div class="ui link cards">
          <div class="card">
            <div class="content">
              <div class="ui center aligned header">
                <a href="/mythings/<%= thing._id %>"><%= thing.name %></a>
              </div>
              <div class="center aligned meta">
                Paid <%= parseFloat(thing.purchasePrice).toLocaleString(undefined, {maximumFractionDigits:2, style: "currency", currency: userCurrency, currencyDisplay: "symbol"}) %>
              </div>
              <% if (thing.useCount == 0) { %>
                <div class="center aligned description">
                  Not used yet.
                </div>
              <% } else { %>
              <div class="center aligned description">
                Down to <%= parseFloat(thing.currentValue).toLocaleString(undefined, {maximumFractionDigits:2, style: "currency", currency: userCurrency, currencyDisplay: "symbol"}) %> per use!
              </div>
              <% } %>
            </div>
            <div class="ui bottom attached buttons">
              <div class="ui basic button"><a href="/mythings/<%= thing._id %>">Update</a></div>
            </div>
          </div>
        </div>
      </div>
  <% }); %>
  </div>
</div>

<% include partials/footer %>
