<% include partials/header %>

<div class="ui raised segment">
  <div class="ui equal width four column stackable doubling centered grid">
    <div class="four column row">
      <h1 class="ui center aligned enormous header">My Things</h1>
    </div>
    <h3 class="ui center aligned header" style="color:crimson;text-transform: uppercase;">This demo app will close on 28 February 2023. Adding new Things is disabled.<br>Please save your data!</h3>
    <div class="four column row">
      <a href="/mythings/new" class="ui large primary button" disabled style="pointer-events: none;text-decoration:line-through;"><i class="plus icon"></i>Add New</a>
    </div>
    <% user.things.reverse().forEach(function(thing) { %>
      <% if (!thing.purchaseCurrency && !user.defaultCurrency) { %>
        <% var userCurrency = "USD"; %>
      <% } else { %>
        <% var userCurrency = thing.purchaseCurrency || user.defaultCurrency; %>
      <% } %>
      <div class="column">
        <a class="ui link card" href="/mythings/<%= thing._id %>">
          <div class="content">
            <div class="ui center aligned header">
              <%= thing.name %>
            </div>
            <div class="center aligned meta">
              <%= parseFloat(thing.purchasePrice).toLocaleString(undefined, {maximumFractionDigits:2, style: "currency", currency: userCurrency, currencyDisplay: "symbol"}) %> on <%- moment(thing.purchaseDate).format("D MMM YYYY"); %>
            </div>
            <% if (thing.useCount == 0) { %>
              <div class="center aligned description">
                Not used yet.
              </div>
            <% } else if (thing.useCount == 1) { %>
              <div class="center aligned description">
                Down to <strong><%= parseFloat(thing.currentValue).toLocaleString(undefined, {maximumFractionDigits:2, style: "currency", currency: userCurrency, currencyDisplay: "symbol"}) %></strong> per use after 1 use!
              </div>
            <% } else { %>
              <div class="center aligned description">
                Down to <strong><%= parseFloat(thing.currentValue).toLocaleString(undefined, {maximumFractionDigits:2, style: "currency", currency: userCurrency, currencyDisplay: "symbol"}) %></strong> per use after <%= thing.useCount %> uses!
              </div>
            <% } %>
          </div>
          <div class="ui two bottom attached buttons">
            <div class="ui animated basic button" tabindex="0">
              <div class="visible content">Update</div>
              <div class="hidden content">
                <i class="right arrow icon"></i>
              </div>
            </div>
          </div>
        </a>
      </div>
  <% }); %>
  </div>
</div>

<% include partials/footer %>
